# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\neueda-spring\03-SpringJdbc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
